h1{
    text-align: center;
    letter-spacing: 5px;
}
h2{
    font-weight: normal;
}
p{
    text-align: left;
    font-weight: 600;
    line-height: 2.5;
    font-size: 30px;
}
h3{
    text-decoration:  wavy red underline;
}
h4{
    text-decoration: dotted pink overline;
}
h5{
    text-decoration: dashed blue line-through;
}