#container{
    height: 600px;
    width: 60%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    align-content: flex-start;
}
 
#org{
    align-self: flex-start;

    /* 1. flex basis(flex sizing property) */
    /* flex-basis: 50px; */

    /* 2. flex grow(flex sizing property) */
    /* flex-grow: 1; */

    /* 3. flex shrink (flex sizing property)*/
    flex-shrink: 1;
}

#blue{
    /* flex-basis: 400px; */
    
    /* flex-grow: 2; */

    flex-shrink: 2;
}

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}