#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;

    /* Jaise hi maine container ko display:flex kiya
    vaise hi sabhi items container ke andar
    aa jayenge aur vo flex item ban jayenge, koi
    bhi item container ke bahar nahi jayega aur
    jaise hi maine apne container ko flex property
    di vo FLEX CONTAINER ban jayega */

    /* Hmesha flex items BY DEFAULT rows ki form me arrange hote hain */
    display: flex; 

    /* Ab jaise hi maine flex direction row ki
    mere sabhi flex items row ki form me
    arrange ho jayenge */
    flex-direction: column;
}

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}