section{
    margin-top: 100px;
}

div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}

div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color: #ebb02d;
}

/* CSS Transform */

/* 1. transform rotate */
#one{
  
    transform: rotate(45deg); 
}

/* 2. transform scale */
#two{
    transform: scale(0.5);  
    /* transform: scale(0.5, 2); It means 0.5 times in X-direction and 2 times in Y-direction  */
}

/* 3. transform translate */
#three{
    transform: translateX(100px);
}

/* 4. transform skew */
#four{
    transform: skew(30deg);
}

/* More than one property apply on singel element */
#five{
    transform: rotate(30deg) translateX(150px);
}