/* Initial state STATE 1 */

div{
    height: 100px;
    width: 100px;
    background-color: #4dff00ff;
    /* transition-duration: 1s; It is used for set the timing for changing the state */
    margin: 0 auto;
    margin-top: 10px;
    /* TRANSITION SHORTHAND:- 
     propert name | duration | timing-function | delay */
     transition: margin-top 2s ease-in-out 0.2s;
}

/* Second state after hover */
div:hover{
    background-color: aqua;  
    border-radius: 50%; 
    margin-top: 400px;
}